BOT_TOKEN=
GOOGLE_SHEET_ID=1Q9yBOi0ExBe93BZDASV4G_KpEcZESIF-RJTmpPGFki4
GOOGLE_CREDENTIALS_JSON=
GOOGLE_DRIVE_FOLDER_ID=1iZx4pr4B7tBxtDOvUHPh4aKqCQf_-bQa
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=
ADMIN_CHAT_ID=
TELEGRAM_GROUP_ID=-5460034736
TIMEZONE=Europe/Paris
